

  <body>
    <div class=" col-md-6 col-md-offset-3">
      <form [formGroup]="loginForm" (onSubmit)="login(loginForm)">
      <div class="panel panel-primary">
        <div class="panel-heading"><h2>Login Here</h2></div>
          <div class="panel-body">
                <div class="">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-6 col-md-offset-3">
                          <div class="input-group">
                              <span class="input-group-addon"><a href="#"><i class="glyphicon glyphicon-user"></i></a></span>
                          <input type="email" formControlName="email" class="form-control" placeholder="Enter E-mail">
                        </div>
                        <div *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid" class="alert alert-danger" >
                          <div *ngIf="loginForm.get('email').hasError('required')" >
                              Email required
                          </div>  
                          <div *ngIf="loginForm.get('email').hasError('email')" >
                              Invalid email
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="input-group">
                                <span class="input-group-addon"><a href="#"><i class="glyphicon glyphicon-lock"></i></a></span>
                            <input type={{type}} id="pwd" formControlName="pswd" class="form-control" placeholder="Enter Password">
                            <span class="input-group-addon"><a ><i id="eye"class="glyphicon glyphicon-eye-open" (click)="toggleShow()"></i></a></span>
                            </div>
                            <div *ngIf="loginForm.get('pswd').touched && loginForm.get('pswd').invalid" class="alert alert-danger" >
                              <div *ngIf="loginForm.get('pswd').hasError('required')" >
                                  Password required
                              </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="form-group">
                     <div class="row">
                        <div class="col-md-5">
                            <button class="  btn btn-md btn-warning" [routerLink]="['/forgotpwd']">Forgot Password</button>
                          </div>
                        <div class="col-md-3">
                          <button class="  btn btn-md btn-success" [routerLink]="['/registration']">Registration</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-md  btn-primary" [routerLink]="['/home']">Login</button>
                        </div>
                     </div>
                  </div>
                </div>
          </div>
          </div>
    </form>
    </div>
  </body>
