
<body>
        <div class=" col-md-6 col-md-offset-3">
          <form #regForm="ngForm" (ngSubmit)="addUser(regForm)" autocomplete="off" novalidate>
          <div class="panel panel-primary">
            <div class="panel-heading"><h2>Registration</h2></div>
              <div class="panel-body">
                    <div class="form-group" >
                        <div class="row">
                            <div class="col-md-6" >
                                <input type="text" #username="ngModel" id="name" name="fname" ngModel pattern="[a-zA-Z][a-zA-Z]+" class="form-control" placeholder="Enter Name" required>
                                <div *ngIf="username?.touched && username?.invalid" class="alert alert-danger" >
                                    <div *ngIf="username.errors?.required" >
                                        Name is required
                                    </div>
                                    <div *ngIf="username.errors?.pattern">
                                            Invalid Name
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <input type="text" #usersname="ngModel" id="sname" name="sname" ngModel pattern="[a-zA-Z][a-zA-Z]+" class="form-control" placeholder="Enter Surname" required>
                                <div>
                                        <div *ngIf="usersname?.touched && usersname?.invalid " class="alert alert-danger" >
                                                <div *ngIf="usersname.errors?.required" >
                                                    Name is required
                                                </div>
                                                <div *ngIf="usersname.errors?.pattern" >
                                                        Invalid Name
                                                </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row ">
                                <label class="col-md-2">D O B</label>
                                <div class="col-md-4">
                                     <input type="date" #dob="ngModel"name="dob" class="form-control" ngModel required>
                                     <div *ngIf="dob?.touched && dob?.invalid " class="alert alert-danger" >
                                            <div *ngIf="dob.errors?.required" >
                                                DOB is required
                                            </div>
                                    </div>
                                </div>
                            <div class="col-md-6">
                                   <label class="col-md-3">Male</label>
                                    <div class="col-md-3">
                                        <input type="radio"  name="gender" >
                                    </div>
                                    <label class="col-md-3">Female</label>
                                    <div class="col-md-3">
                                        <input type="radio" name="gender" >
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 ">
                                    <div class="input-group">
                                            <span class="input-group-addon"><a href="#"><i class="glyphicon glyphicon-envelope"></i></a></span>
                                            <input type="email" id="email" #email="ngModel" name="email"
                                             class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Email ID" ngModel required>
                                    </div>
                                    <div *ngIf="email?.touched && email?.invalid " class="alert alert-danger" >
                                            <div *ngIf="email.errors?.required" >
                                                Email is required
                                            </div>
                                            <div *ngIf="email.errors?.pattern" >
                                                    Invalid Email
                                            </div>
                                    </div>
                            </div>
                            <div class="col-md-6 ">
                                        <div class="input-group">
                                            <span class="input-group-addon"><a href="#"><i class="glyphicon glyphicon-lock"></i></a></span>
                                            <input type="password" id="pwd"#pwd="ngModel" name="pwd" class="form-control" placeholder="Password" ngModel required>
                                        </div>
                                        <div *ngIf="pwd?.touched && pwd?.invalid " class="alert alert-danger" >
                                                <div *ngIf="pwd.errors?.required" >
                                                    Email is required
                                                </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                            <span class="input-group-addon"><a href="#"><i class="glyphicon glyphicon-lock"></i></a></span>
                                            <input type="password" id="cnfpass" #cnfpass="ngModel" name="cnfpass" class="form-control" placeholder="Re-enter password" ngModel required>
                                </div>
                                <div *ngIf="cnfpass?.touched && cnfpass?.invalid " class="alert alert-danger" >
                                        <div *ngIf="cnfpass.errors?.required" >
                                            Email is required
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="input-group">
                                            <span class="input-group-addon"><a href="#"><i class="glyphicon glyphicon-phone"></i></a></span>
                                            <input type="text" id="mobile" class="form-control" placeholder="Enter Mobile Number" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                            <div class="col-md-6 ">
                                    <div class="input-group">
                                        <span class="input-group-addon"><a href="#"><i class="glyphicon glyphicon-user"></i></a></span>
                                        <input type="text" id="aadhar" class="form-control" placeholder="Enter Aadhaar Number" required>
                                    </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><a href="#"><i class="glyphicon glyphicon-pencil"></i></a></span>
                                    <textarea class="form-control" placeholder="Address for Communication"></textarea>
                                </div>
                            </div>
                      </div>  
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class=" col-md-4">
                                <button class="btn btn-md btn-warning">Reset</button>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-md btn-success" (click)="onSubmit()"[disabled]="regForm.invalid">Register</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-md btn-info" [routerLink]="['/login']">Back</button>
                            </div>
                        </div>
                    </div>
              </div>
              </div>
              {{regForm.value | json}}
        </form>
    </div>
</body>
    
    