
<body>
        <div class=" col-md-6 col-md-offset-3">
          <form [formGroup]="regForm"(onSubmit)="addUser(regForm)" autocomplete="off" novalidate>
          <div class="panel panel-primary">
            <div class="panel-heading"><h2>Registration</h2></div>
              <div class="panel-body">
                    <div class="form-group" >
                        <div class="row">
                            <div class="col-md-6" >
                                <input type="text" formControlName="name"  pattern="[a-zA-Z][a-zA-Z]+" class="form-control" placeholder="Enter Name" required>
                                <div *ngIf="regForm.get('name').touched && regForm.get('name').invalid" class="alert alert-danger" >
                                    <div *ngIf="regForm.get('name').hasError('required')" >
                                        Name is required
                                    </div>
                                    <div *ngIf="regForm.get('name').hasError('pattern')">
                                            Invalid Name
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <input type="text" formControlName="sname"  pattern="[a-zA-Z][a-zA-Z]+" class="form-control" placeholder="Enter Surname" required>
                                <div>
                                    <div *ngIf="regForm.get('sname').touched && regForm.get('sname').invalid" class="alert alert-danger" >
                                        <div *ngIf="regForm.get('sname').hasError('required')" >
                                            Surname is required
                                        </div>
                                        <div *ngIf="regForm.get('sname').hasError('pattern')">
                                                Invalid Surname
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row ">
                                <label class="col-md-2">D O B</label>
                                <div class="col-md-4">
                                     <input type="date" formControlName="dob" class="form-control"required>
                                     <div *ngIf="regForm.get('dob').touched && regForm.get('dob').invalid" class="alert alert-danger" >
                                        <div *ngIf="regForm.get('dob').hasError('required')" >
                                            DOB is required
                                        </div>
                                        <!-- <div *ngIf="regForm.get('dob').hasError('pattern')" >
                                            Invalid DOB
                                        </div> -->
                                    </div>
                                </div>
                            <div class="col-md-6">
                                   <label class="col-md-3">Male</label>
                                    <div class="col-md-3">
                                        <input type="radio"  name="gender">
                                    </div>
                                    <label class="col-md-3">Female</label>
                                    <div class="col-md-3">
                                        <input type="radio" name="gender"  >
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 ">
                                    <div class="input-group">
                                            <span class="input-group-addon"><a href="#"><i class="glyphicon glyphicon-envelope"></i></a></span>
                                            <input type="email" id="email"  formControlName="email" class="form-control" placeholder="Email ID" required>
                                    </div>
                                    <div *ngIf="regForm.get('email').touched && regForm.get('email').invalid" class="alert alert-danger" >
                                        <div *ngIf="regForm.get('email').hasError('required')" >
                                            Email required
                                        </div>  
                                        <div *ngIf="regForm.get('email').hasError('email')" >
                                            Invalid email
                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-6 ">
                                        <div class="input-group">
                                            <span class="input-group-addon"><a href="#"><i class="glyphicon glyphicon-lock"></i></a></span>
                                            <input type="password" id="pwd" formControlName="pwd" class="form-control" placeholder="Password"  required>
                                        </div>
                                        <div *ngIf="regForm.get('pwd').touched && regForm.get('pwd').invalid" class="alert alert-danger" >
                                            <div *ngIf="regForm.get('pwd').hasError('required')" >
                                                Password required
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><a href="#"><i class="glyphicon glyphicon-lock"></i></a></span>
                                    <input type="password" id="cnfpass" formControlName="cnfpass" class="form-control" placeholder="Re-enter password"  required>
                                </div>
                                <div *ngIf="regForm.get('cnfpass').touched && regForm.get('cnfpass').invalid" class="alert alert-danger" >
                                    <div *ngIf="regForm.get('cnfpass').hasError('required')" >
                                        Conform Password required
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="input-group">
                                    <span class="input-group-addon"><a href="#"><i class="glyphicon glyphicon-phone"></i></a></span>
                                    <input type="text" id="mobile" formControlName="mobile" 
                                            class="form-control" placeholder="Enter Mobile Number"  required>
                                </div>
                                <div *ngIf="regForm.get('mobile').touched && regForm.get('mobile').invalid" class="alert alert-danger" >
                                    <div *ngIf="regForm.get('mobile').hasError('required')" >
                                        Mobile number is required
                                    </div>
                                    <div *ngIf="regForm.get('mobile').hasError('pattern')">
                                            Invalid mobile number
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                            <div class="col-md-6 ">
                                    <div class="input-group">
                                        <span class="input-group-addon"><a href="#"><i class="glyphicon glyphicon-user"></i></a></span>
                                        <input type="text" formControlName="aadhar" class="form-control" placeholder="Enter Aadhaar Number" required>
                                    </div>
                                    <div *ngIf="regForm.get('aadhar').touched && regForm.get('aadhar').invalid" class="alert alert-danger" >
                                        <div *ngIf="regForm.get('aadhar').hasError('required')" >
                                            Aadhar number is required
                                        </div>
                                        <div *ngIf="regForm.get('aadhar').hasError('pattern')">
                                                Invalid aadhar number
                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><a href="#"><i class="glyphicon glyphicon-pencil"></i></a></span>
                                    <textarea class="form-control" formControlName="address" placeholder="Address for Communication"></textarea>
                                </div>
                                <div *ngIf="regForm.get('address').touched && regForm.get('address').invalid" class="alert alert-danger" >
                                    <div *ngIf="regForm.get('address').hasError('required')" >
                                        Address is required
                                    </div>
                                    <div *ngIf="regForm.get('address').hasError('minlength')">
                                       Address should be mim 10 char
                                    </div>
                                    <div *ngIf="regForm.get('address').hasError('maxlength')">
                                        Address should be max 100 char
                                     </div>
                                </div>
                            </div>
                      </div>  
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class=" col-md-4">
                                <button class="btn btn-md btn-warning">Reset</button>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-md btn-success" (click)="addUser(regForm)">Register</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-md btn-info" [routerLink]="['/login']">Back</button>
                            </div>
                        </div>
                    </div>
              </div>
              </div>
              {{regForm.value | json}}
        </form>
    </div>
</body>
    
    